body{
    background-color: rgb(231, 228, 225);
}


.column_name{
    display:none;
}

h1{
    margin: 0; padding: 0;
    font-size: 40px;
}
header {
    width: 100%;
    padding: 30px 4% 10px;
    display: flex;
    align-items: center;
    margin-bottom: 300px;
}

nav {
    margin: 0 0 0 auto;
 }


header a{
    text-decoration: none;
    color: #4b4b4b;
}

header ul {
    list-style: none;
    margin: 0;
    display: flex;
    margin-right: 80px;
 }

 header ul li{
    margin: 0 0 0 20px;
    font-size: 15px;
   
 }

 .welcome-message{
  text-align: center;
  margin-bottom: 200px;
 }

 #book{
    font-size:25px;
 }

 .tl{
    margin-left: 550px;
 }
 
 #tl_title {
    margin-left:550px;
    padding: 0.4em 0.5em;
    color: #494949;
    background: #f4f4f4;
    border-left: solid 5px #4b4c4d;
    border-bottom: solid 3px #d7d7d7;
    display: inline-block; /* 追加 */
  }

  .study-post{
    margin-top: 10px;
    margin-bottom: 10px;
   
  }

  .study-post{
    background-color: #d7d7d7;
    width:40%;
  }
  #book{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 15px;
  }
  #time{
    font-size:23px;
    margin-top: 22px;
    margin-left: 15px;
  }
  #page{
    font-size:23px;
    margin-top: 30px;
    margin-left: 15px;
  }

  